.progress-list {
    .progress-list-item {
        &.passed {
            color: green;
        }

        &.current {
            color: yellow;
        }

        &.not-reached {
            color: grey;
        }
    }
}
